[Desktop Entry]
Encoding=UTF-8
Name=Link para file:///home/joaoof/FRONT-sistema-gestaoint/API-sistema-gestaoint
Type=Link
URL=file:///home/joaoof/FRONT-sistema-gestaoint/API-sistema-gestaoint
Icon=inode-directory
